
@{
    ViewData["Title"] = "Index";
}

<p markdown>
# Recursion Exercise

In this exercise you will take the provided `LocationList` object and display it using recursion. All children items should be indented underneath the parent something like this:

    * Location
        * Location 1
            * Location 1.1
        * Location 2
            * Location 2.1
            * Location 2.2

Any stylying for the indention is fine (dashes, spaces, pipes, asterisk, etc), whatever you want.

The only requirement is to use recursion and get the results to display correctly. How you do it is up to you to do as you see fit. 
If it were me, I'd handle this in the Razor view, but if you have a cooler way to do it, go for it!
</p>