
@{
    ViewData["Title"] = "Index";
}

<p markdown>
# Ajax

The point of this challenge is simple to load the HTML from the `Data` method on the `AjaxController` when the button is clicked, and place it in the `#content` div provided below.
Feel free to use any method or framework you want to achieve this.
</p>

<button>Click Here</button>

<div id="content"></div>